@theme {
  /* -------- SEMANTIC COLOR TOKENS (LIGHT THEME) -------- */
  --color-accent: var(--color-yellow-300);
  --color-brand-primary: var(--color-teal-800);
  --color-brand-secondary: var(--color-teal-400);
  --color-caption: var(--color-neutral-950);
  --color-error: var(--color-orange-500);
  --color-error-dark: var(--color-orange-700);
  --color-foreground: var(--color-neutral-950);
  --color-foreground-muted: var(--color-neutral-600);
  --color-surface: var(--color-neutral-100);
  --color-surface-base: var(--color-neutral-50);
  --color-surface-elevation: color-mix(
    in srgb,
    var(--color-teal-800),
    white 95%
  );
}

@layer base {
  /* -------- SEMANTIC COLOR TOKENS (DARK THEME) -------- */
  .dark {
    --color-accent: var(--color-yellow-500);
    --color-brand-primary: var(--color-blue-700);
    --color-brand-secondary: var(--color-teal-900);
    --color-caption: var(--color-neutral-200);
    --color-error: var(--color-orange-400);
    --color-error-dark: var(--color-orange-800);
    --color-foreground: var(--color-neutral-75);
    --color-foreground-muted: var(--color-neutral-300);
    --color-surface: var(--color-neutral-975);
    --color-surface-base: var(--color-neutral-960);
    --color-surface-elevation: var(--color-neutral-940);
  }
}
