@theme {
  /* -------- SEMANTIC COLOR TOKENS (LIGHT THEME) -------- */
  --color-accent: var(--color-yellow-300);
  --color-brand-primary: var(--color-teal-800);
  --color-brand-secondary: var(--color-teal-400);
  --color-caption: var(--color-neutral-950);
  --color-error: var(--color-orange-500);
  --color-error-dark: var(--color-orange-700);
  --color-foreground: var(--color-neutral-950);
  --color-foreground-muted: var(--color-neutral-600);
  --color-surface: var(--color-neutral-100);
  --color-surface-base: var(--color-neutral-50);
  --color-surface-elevation: color-mix(
    in srgb,
    var(--color-teal-800),
    white 95%
  );
}

@layer base {
  /* -------- SEMANTIC COLOR TOKENS (DARK THEME) -------- */
  .dark {
    --color-accent: var(--color-yellow-300);
    --color-brand-primary: color-mix(in srgb, var(--color-blue-900), white 30%);
    --color-brand-secondary: var(--color-teal-700);
    --color-caption: var(--color-yellow-300);
    --color-error: var(--color-orange-400);
    --color-error-dark: var(--color-orange-600);
    --color-foreground: var(--color-neutral-100);
    --color-foreground-muted: var(--color-neutral-400);
    --color-surface: var(--color-neutral-950);
    --color-surface-base: var(--color-neutral-900);
    --color-surface-elevation: color-mix(
      in srgb,
      var(--color-blue-900),
      black 90%
    );
  }
}
