@theme {
  /* -------- COLOR VARIABLES -------- */
  /* Teal */
  --color-teal-400: #2a9d8f;
  --color-teal-800: #264653;
  --color-teal-900: #2f5e5a;

  /* Blue */
  --color-blue-700: #3e5c9a;

  /* Orange */
  --color-orange-400: #f29984;
  --color-orange-500: #e76f51;
  --color-orange-700: #c2513c;
  --color-orange-800: #d94f33;

  /* Yellow */
  --color-yellow-300: #e9c46a;
  --color-yellow-500: #d1b26f;

  /* Neutral */
  --color-neutral-50: #ffffff;
  --color-neutral-75: #e0e0e0;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #d4d4d4;
  --color-neutral-300: #a8a8b3;
  --color-neutral-600: #5c5c5c;
  --color-neutral-940: #1d1d22;
  --color-neutral-950: #1a1a1a;
  --color-neutral-960: #151518;
  --color-neutral-975: #0e0e11;
}
