@layer base {
  /* Enforces theme light as first option */
  :root {
    color-scheme: light;
  }

  .dark {
    color-scheme: dark;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-surface-base);
    color: var(--color-foreground);
    font-family: var(--font-family-sans);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    box-sizing: border-box;
  }
}
